.carnival-card {
    max-width: 450px;
}

.carnival-card-description {
    overflow-y: scroll;
    height: 60px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.carnival-card-description::-webkit-scrollbar {
    display: none;
}

.carnival-card-actions {
    float: right;
    height: 75px;
}