.carnival-list-upcoming-container {
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
}

.carnival-list-all-container {
    margin: 10px 5px;
}

.carnival-list-all-title {
    text-align: center;
}

.react-multi-carousel-list {
    overflow: visible;
    overflow-x: clip;
}

.carnival-list-grid {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.carnival-list-grid-item {
    display: flex;
    align-items: center;
}